<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login Page</title>
    <style>
    div {
    text-align:center;
    }
    </style>
</head>
<body bgcolor="F8F7D3">
<div>

<form action="/getLatLong" method="post">
    <h1>Enter Your Address</h1>
    <label>Address :</label><br>
    <input type="text" name="Address" required> <br><br>

    <input type="Submit" value="Fetch Latitude Longitude Values">

    {%if message%}
    <p style="color:green">{{message}}</p>
    {%endif%}

</form>
</div>
</body>
</html>