<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login Page</title>
    <style>
    div {
    text-align:center;
    }
    </style>
</head>
<body bgcolor="F8F7D3">
<div>


<form action="/perform_login" method="post">
    <h1>Enter Your Login Details</h1>
    <label>Email :</label><br>
    <input type="email" name="Email" required> <br><br>
    <label> Password :</label><br>
    <input type="password" name="Password" required> <br><br>
    <input type="Submit" value="Login">

    <p>Not a member? <a href="/register">Click here to register</a></p>
</form>
    {%if message%}
<p style="color:g">{{message}}</p>
{%endif%}
</div>
</body>
</html>