<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login Page</title>
    <style>
    div {
    text-align:center;
    }
    </style>
</head>
<body bgcolor="F8F7D3">
<div>

<form action="/getWeatherInfo" method="post">
    <h1>Enter Latitude and Longitude Values</h1>
    <label>Latitude :</label><br>
    <input type="text" name="Latitude" required> <br><br>

    <label>Longitude :</label><br>
    <input type="text" name="Longitude" required> <br><br>

    <input type="Submit" value="Get Weather Information">


</form>
</div>
</body>
</html>